<h2>Today's article</h2>
<hr>
<div *ngFor="let art of articles">
  <a href="{{art.url}}" target="_blank">{{art.title}}</a>: <app-like></app-like>
</div>
<hr>
<div>
  <h2>Article Information</h2>
  <table>
    <tr>
      <td>Title:</td>
      <td><textarea (change)="changeTitleArticle($event.target.value)" cols="70"></textarea></td>
    </tr>
    <tr>
      <td>Url:</td>
      <td>
        <textarea (change)="changeUrlArticle($event.target.value)" cols="70"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button style="float: right" (click)="addNewArticle(title,url)">Add</button></td>
    </tr>
  </table>
</div>
<hr>

